# name of the action
name: test

# trigger on pull_request or push events
# ignore push events with tag
on:
  pull_request:
  push:
    tags-ignore:
      - "*"

# pipeline to execute
jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image: golang:latest
    steps:
    - name: clone
      uses: actions/checkout@v1

    - name: test
      run: |
        go test -race -covermode=atomic -coverprofile=coverage.out ./...

    - name: coverage
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: coverage.out
